
.header {
    background-color: var(--white);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.header__title {
    font-size: 3rem;
    font-weight: 500;
    line-height: 64px; /* 128% */
}

.header__top {
    display: flex; 
    justify-content: space-between;
    padding: 24px 0 38px;
}

.header__logo {
    flex-grow: 1;
}

.header__tabs {
    display: flex;
    flex: row;
    gap: 24px;
    align-items: center;
}

.header__theme {
    display: flex;
    gap: 12px;
    align-items: center;
    padding-left: 56px;
}

.header__theme-icon {
    width: 24px;
    height: 24px;
}