/* Стилизация кнопки */
@import '../../assets/css/main.css';

.btn {
    width: 189px;
    height: 48px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.btn__primary {
    background: var(--primary);
    color: var(--white);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}

.btn__primary:not(.btn__primary_disabled):hover {
    background: var(--dark-blue);
}

.btn__secondary {
    background: var(--secondary);
    color: var(--white);
}

.btn__secondary:not(.btn__secondary_disabled):hover {
    background: var(--deep-purple);
}

.btn__alternate {
    background: var(--grey-3);
    color: var(--grey-4);
}

.btn__alternate:not(.btn__alternate_disabled):hover {
    background: var(--grey-4);
    color: var(--black);
}

.btn__primary_disabled,
.btn__secondary_disabled,
.btn__alternate_disabled {
    opacity: 0.5;
    cursor: default;
}