.sidebar {
    color: var(--black, #212429);
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
}

.sidebar__section-title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 16px;
}

.sidebar__list {
    font-size: 14px;
    line-height: 22px; /* 157.143% */
    padding: 0;
}

.sidebar__list-item {
    list-style-type: none;
    margin-bottom: 4px;
}

.sidebar__list-item:last-child {
    margin-bottom: 0;
}

.sidebar__link {
    text-decoration: none;
    color: inherit;
    transition: color 200ms ease-in-out;
}

.sidebar__link:hover {
    color: var(--notification);
}

.sidebar__list-item:last-child {
    margin-top: 22px;
}

@media screen and (max-width: 576px) {
    .sidebar {
        display: none;
    }   
}