/* Стилизация аккордеона */
.accordion {
    color: var(--black, #212429);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.accordion__item {
    margin-bottom: 8px;
    padding: 24px 32px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
}

.accordion__item:last-child {
    margin-bottom: 0;
}

.accordion__item[open] {
    padding-bottom: 32px;
}

.accordion__item[open] .accordion__title {
    padding-bottom: 16px;
}

.accordion__title {
    position: relative;
    list-style: none;
}

.accordion__text {
    color: var(--grey-4, #495057);
    margin: 0;
    margin-right: 17px;
}

.accordion__icon {
    width: 18px;
    height: 10px;
    position: absolute;
    right: 0;
    top: 0;
    fill: var(--grey-4, #495057);
}

.accordion__item[open] .accordion__icon {
    transform: rotate(180deg);
}





