.toggle {
    position: relative;
  }
  
  .toggle__input {
    position: absolute;
    left: -100vw;
  }
  
  .toggle__state {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .toggle__icon {
    width: 52px;
    height: 28px;
    fill: white;
    color: #DDE2E5;
    cursor: pointer;
  }
  
  .toggle__label {
    color: var(--grey-4, #495057);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
  }
  
  .toggle__input:checked ~ .toggle__state .toggle__icon {
    color: #4263EB;
    fill: #4263EB;
  }
  
  .toggle__input:focus ~ .toggle__state .toggle__label {
    text-decoration: underline;
  }
  
  .toggle__input:disabled ~ .toggle__state .toggle__icon {
    color: #ACB5BD;
    fill: #DDE2E5;
    cursor: auto;
  }