.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(196, 196, 196, 0.5);
  font-family: Inter;
  line-height: 24px;
}

.modal__window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 40px 33px;
  border-radius: 8px;
  background: #FFF;
  max-width: 428px;
}

.modal__title {
  margin: 0;
  padding-bottom: 14px; 
  color: #334D6E;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.modal__text {
  color: var(--grey-4, #495057);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  max-width: 348px;
}

.modal__close-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 12px;
  top: 12px;
}