.histogram {
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 16px 24px 24px;
    color: var(--black, #212429);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.histogram__top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.histogram__title {
    margin: 0;
 } 

.histogram__link {
    position: absolute;
    align-self: flex-end;
    text-decoration: none;
    color: var(--blue);
    padding-top: 3px;
}
    
.histogram__stat {
    font-size: 20px;
    line-height: 26px;
    padding-bottom: 39px;
}

.histogram__chart {
    display: flex;
    align-items: flex-end;
    gap: 1px;
    height: 50px;
}

.histogram__bar {
    flex: 1;
    background: var(--blue);
}