.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--white);
}

.page_inner {
    background-color: var(--grey-1);
}

.page__main {
    flex-grow: 1;
    background-color: var(--grey-1);
}
