.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--grey-1);
}

.page__main {
    flex-grow: 1;
}

.page__inner {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 56px;
    height: 100%;
}