.avatar {
    display: inline-block;
    width: 102px;
    height: 102px;
  }
  
  .avatar__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  .avatar_lg {
    width: 160px;
    height: 160px;
  }
  