.container {
    max-width: 1110px;
    margin: 0 auto;
}

.container_inner {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 56px;
    height: 100%;
}

@media screen and (max-width: 576px) {
    .container_inner {
        display: block;
    }
}