@import '../fonts/fonts.css';
@import '../../components/header/header.css';
@import '../../components/section/section.css';
@import '../../components/footer/footer.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #374FC7;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);
}

* {
    font-family: 'Roboto', sans-serif;
}

.header {
    margin-left: 160px;
    height: 237px;
}

.section {
    background: #F9FAFC;
    height: 1036px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 384px;
}