.skeleton {
    background: linear-gradient(93deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%); 
}

.skeleton__avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.skeleton__container {
    border: 1px solid var(--grey-3);
    padding: 32px 40px 32px 24px;
}

.skelenon__bottom {
    display: flex;
    gap: 8px;
}

.skeleton__line {
    width: 515px;
    height: 20px;
}