.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip__bubble {
    transition: opacity 250ms ease-in;
    opacity: 0; 
    position: absolute;
    bottom: calc(100% + 6px);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    background: #4263EB;
    box-shadow: 0px 2px 4px 0px rgba(33, 36, 41, 0.05);
    color: var(--grey-2, #DDE2E5);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    padding: 13px 21px 8px;
    white-space: nowrap;
  }
  
  .tooltip__trigger:hover ~ .tooltip__bubble {
     opacity: 1;
  }

  .tooltip__bubble:before {
    position: absolute;
    content: '';
    border: 6px solid transparent;
    border-top-color: #4263EB;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .tooltip__bubble_visible {
    opacity: 1;
  }

  .tooltip__icon {
    width: 24px;
    height: 24px;
  }

  .tooltip__bubble_preview {
    position: relative;
    margin: 6px 0;
  }
