
.footer {
    color: var(--black);
    font-family: Inter;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    line-height: 18px; /* 150% */
    letter-spacing: 0.48px;
}

.footer__title {
    color: var(--grey-4);
    font-size: 1.8rem;
    line-height: 24px; 
    font-weight: 400;
}

.footer__description {
    font-size: 1rem;
    line-height: 24px;
}

.footer__content {
   width: 70%;
   margin: 2rem auto;
}

.footer_inner {
    font-size: 12px;
    color: var(--grey-3);
    text-transform: uppercase;
    padding: 56px 0;
    background-color: var(--grey-1);
}

@media screen and (min-width: 576px) {
    .footer__title {
        color: var(--black);
        font-size: 2rem;
        font-weight: 500;
        line-height: 48px; 
    }

    .footer__content {
        width: 50%;
        margin: 71px auto;
     }
}