.component {
    background: var(--white); 
}

.component__display {
    border-bottom: 1px solid var(--grey-2);
    padding: 32px 48px 0;
}

.component__title {
    font-size: 28px;
    color: var(--grey-4);
    line-height: 38px;  
    font-weight: 400;
    font-style: normal;
    margin: 0;
    margin-bottom: 1rem;
}

.component__code {
    padding: 50px 48px 64px;
}

.component__display_form-elems {
    border: none;
}

.component__avatar {
    width: 200px;
    height: 200px;
}

.component__tabs {
    margin-top: 2rem;
}

.component__modal-btn {
    padding: 15px 50px;
}

.component__histogram {
    max-width: 300px;
    margin: 24px 0;
}