  .burger-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    line-height: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    background: var(--grey-1);
    padding: 16px;
    transform: translateX(-100vw);
    transition: transform 250ms ease-in-out;
    overflow-y: auto;
  }

  .burger-menu > * {
    padding: 24px 0;
  }
  
  .burger-menu__theme-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--grey-2);
    border-bottom: 1px solid var(--grey-2); 
    color: #495057;
  }

  .burger-menu__theme-toggle:has(.toggle__input:focus) .toggle__icon {
    color: var(--grey-3); 
  }
  
  .burger-menu__title {
    color: var(--grey-3);
    font-size: 20px;
    line-height: 26px; 
    margin: 0;
  }
  
  .burger-menu__link {
    display: block;
    color: var(--black);
    text-decoration: none;
    padding-top: 16px;
  }
  
  .burger-menu__link:hover {
    color: #D84910;
    cursor: pointer;
  }
  
  .burger-menu__link:focus {
    outline: none;
    color: #D84910; 
  }
  
  .burger-menu__link_main-page {
    padding-top: 72px;
  }
  
  @media screen and (min-width: 576px) { 
    .burger-menu {
      display: none;
    }
  }