.input {
  width: fit-content;
  font-family: Inter;
  font-style: normal;
}

.input__label {
  color: var(--grey-3, #ACB5BD);
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
}

.input__control {
  position: relative;
  margin-bottom: 16px;
}

.input__field {
  width: auto;
  color: #495057;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  padding: 17px 40px 13px 24px;
  border: 1px solid #DDE2E5;
  border-radius: 8px;
}

.input__icon {
  position: absolute;
  right: 16px;
  top: 17px; /* to make up for extra 2 px in input field's height */
  width: 24px;
  height: 24px;
  fill: none;
}

.input__icon_success,
.input__icon_invalid {
  display: none;
}

.input_success .input__icon_success,
.input_invalid .input__icon_invalid {
  display: inline-block;
}

.input__field:focus {
  outline: none;
  border: 1px solid #4263EB;
  filter: drop-shadow(0px 1px 1px rgba(51, 154, 240, 0.10));
}

.input_invalid .input__field,
.input_invalid .input__field:focus {
  border-color: #F03D3E;
  filter: drop-shadow(0px 1px 1px rgba(240, 61, 62, 0.10));
}

